<md-content layout-padding>
<div>
	{{ci_form_open('entrust/user/store', {'name':'userForm'})|raw}}
	<div layout-gt-xs="column">
		<md-input-container class="md-block">
		<label>Email</label>
		<input name="email" type="email" value="{{form_post.email}}">
		<div class="hint">
			{{form_errors.email|raw}}
		</div>
		</md-input-container>
	</div>
	<div layout-gt-xs="row">
		<md-input-container class="md-block" flex-gt-sm="50">
		<label>Firstname</label>
		<input name="firstname" type="text" id="firstname" value="{{form_post.firstname}}">
		<div class="hint">
			{{form_errors.firstname|raw}}
		</div>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm="50">
		<label>Lastname</label>
		<input name="lastname" type="text" id="lastname" value="{{form_post.lastname}}">
		<div class="hint">
			{{form_errors.lastname|raw}}
		</div>
		</md-input-container>
	</div>
	<div layout-gt-xs="row">
		<md-input-container class="md-block" flex-gt-sm="50">
		<label>Password</label>
		<input name="password" type="password" id="password">
		<div class="hint">
			{{form_errors.password|raw}}
		</div>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm="50">
		<label>Confirm Password</label>
		<input name="c_password" type="password" id="c_password">
		<div class="hint">
			{{form_errors.c_password|raw}}
		</div>
		</md-input-container>
	</div>
	<div layout-gt-xs="row" ng-controller="SelectAsyncController" ng-cloak>
		<md-input-container class="md-block" flex-gt-sm>
		<md-select name="roles" placeholder="Roles" ng-model="selectedRole" md-on-open="loadRoles()" ng-model-options="{trackBy: '$value.id'}" md-block multiple>
		<md-option ng-repeat="role in roles" value="{[{role.id}]}">{[{role.name}]}</md-option>
		</md-select>
		<div class="hint">
			{{form_errors.h_roles|raw}}
		</div>
		</md-input-container>
		<input type="hidden" name="h_roles" value="{[{selectedRole}]}">
	</div>
	<div layout-gt-xs="column">
		<div>
			<button type="submit" class="mdl-button mdl-js-button mdl-button--raised">Submit</button>
		</div>
	</div>
	{{ci_form_close()|raw}}
</div>
</md-content>